.App {
}

.nav {
  padding: 3em;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto 3em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.nav a {
  background: #333;
  color: white;
  padding: 1em;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;

  font-size: 2em;
}

.nav a:hover {
  background: #444;
}

.smurfs {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.smurfs h1 {
  font-size: 5em;
  margin: 0;
  margin-bottom: 0.5em;
}

.smurfs ul {
  display: block;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.smurfs a {
  text-decoration: none;
  color: #333;
}

.smurf {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 1em 5em;
  margin-bottom: 30px;
}

.smurf-details {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.smurf-form form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
}

.smurf-form input {
  padding: 1em;
  border: none;
  border-bottom: 1px solid coral;
  margin-right: 1em;
  font-size: 1em;
}
